<!DOCTYPE html>
<html lang="en">
<%# 
<head>
  <meta charset="utf-8">
  <title>CarServ - Car Repair HTML Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  
</head> %>

<body>
  <!-- Carousel Start -->
  <%= render 'carousel' %>
  <!-- Carousel End -->

  <!-- Service Start -->
  <%= render 'service_start/service_start' %>
  <!-- Service End -->

  <!-- About Start -->
  <%= render 'about/about' %>
  <!-- About End -->

  <!-- Fact Start -->
  <%= render 'fact/fact' %>
  <!-- Fact End -->

  <!-- Service Start -->
  <%= render 'service/service' %>
  <!-- Service End -->

  <!-- Booking Start -->
  <%= render 'booking/booking' %>
  <!-- Booking End -->

  <!-- Team Start -->
  <%= render 'team/team', amount: 4 %>
  <!-- Team End -->

  <!-- Testimonial Start -->
  <%= render 'testimonial/testimonial' %>
  <!-- Testimonial End -->


  
</body>

</html>